.navbar-portfolio {
  display: flex;
  justify-content: space-between;
  background: $grey1;
  padding-top: 1%;
  padding-left: 3%;
  padding-bottom: 1%;
}

.navbar-portfolio h1 {
  font-family: 'Fredericka the Great', sans-serif;
  font-size: 3rem;
  color: $light-gray;
  margin: 0px;
}

.navbar-portfolio a {
  text-decoration: none;
}

.navbar-portfolio .nav-items {
  flex-grow: 0;
}

.logo {
  display: flex;
}

.nav-items {
  margin-right: 3%;
  display: flex;
}

.nav-items li {
  list-style: none;
}

.nav-items a {
  text-decoration: none;
  color: $light-gray;
  font-size: 1.3rem;
}

.navbar-nav {
  align-items: center;
}

.style {
  border: solid 1px $light-gray;
  border-radius: 50px;
}
